/* variables */
:root{
    --color-naranja: #da7c57;
    --color-azulOscuro: #3a3639;
    --color-blanco: #fff;
    --color-negro: #000;
}
/* generales */
*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .navegador{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.nubes{
    position: relative;
    top: 0;
    width: 100px;
    height: 100px;
}

.mapa{
    background-image: url(../imagenes/mapamod.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 50%;
    -webkit-animation: tierra-girando 8s infinite linear;
}
@-webkit-keyframes tierra-girando{
    from{
        background-position: left center;
    }
    to{
        background-position: -251px center;
    }
}

.header .navegador .linkLogo{
    padding: 10px 30px 0 0;
}
.header .navegador .logoImg{
    position: relative;
    width: 100%;
    height: 110%;
    z-index: 999;
}
.header .navegador .listaDesordenada{
    list-style: none;
    display: flex;
    gap: 10rem;
    padding: 30px 0 40px 0;
}
.header .navegador .listaDesordenada li{
    
}
.header .navegador .listaDesordenada li .linkLi{
    text-decoration: none;
    color: var(--color-azulOscuro);
    border: solid 1px var(--color-azulOscuro);
    padding: 8px 10px;
    transition: all .3s;
}
/* clase modificada para js */
.linkLiMod{
    color: var(--color-blanco);
    border: solid 1px var(--color-blanco);
    padding: 8px 10px;
    transition: all .3s;
    text-decoration: none;
    font-weight: bold;
}

.header .navegador .listaDesordenada li .linkLi:hover{
    background-color: var(--color-blanco);
    border: solid 1px var(--color-blanco);
    color: var(--color-negro);
}
/* clase modificada para js */
.hoverLink:hover{
    background-color: var(--color-blanco);
    border: solid 1px var(--color-blanco);
    color: var(--color-negro);
}

.contenedorFondoArena{
    width: 100%;
    position: relative;
    background-size: cover;
    background-image: url(../imagenes/atarceder.jpg);
    height: 100vh;
}


/* flecha para abajo */
.contenedorFlecha{
    position: absolute;
    bottom: 25px;
    bottom: 100px;
    text-align: center;
    width: 100%;
}
.contenedorFlecha img{
    width: 60px;
}

.contenedorSelector{
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contenedorSelector .selector1{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url(../imagenes/iconocamping.png);
    background-size: cover;
    cursor: pointer;
    transition: transform .2s;
}
.contenedorSelector .selector1:hover{
    transform: translateY(-8px);
}
.contenedorSelector .selector2{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url(../imagenes/iconobosque.png);
    background-size: cover;
    cursor: pointer;
    transition: transform .2s;
}
.contenedorSelector .selector2:hover{
    transform: translateY(-8px);
}
.contenedorSelector .selector3{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url(../imagenes/iconomontana.png);
    background-size: cover;
    cursor: pointer;
    transition: transform .2s;
}
.contenedorSelector .selector3:hover{
    transform: translateY(-8px);
}
.contenedorSelector .selector4{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url(../imagenes/iconoplaya.png);
    background-size: cover;
    cursor: pointer;
    transition: transform .2s;
}
.contenedorSelector .selector4:hover{
    transform: translateY(-8px);
}



